body{
	
	background-attachment:scroll;
	background:#eee;
	color:#918ea5;
	margin: 0px;
	
}
input{
	    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-style: solid;
}
a:link{
	text-decoration:none;	
}
ul{
	font-famliy:DFKai-SB;
	
}
a:hover{
	color: #4399ee;
	cursor: pointer;
}
#main{
	width:1024px;
	margin:0 auto;
	height:auto;
}
#toptag{
    margin:0 auto;
	position:relative;
	height:400px;

}
#blogname{
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	left:30;
	bottom:30;
	width:250px;
	height:180px;
	}
#blogname p{
	vertical-align:top;
}
#mainList{
	float: left;
	margin-left: 30px;
	width: 600px;
	height: 30px;
	text-align: center;
}
#mainList ul{
	margin: 0;
	padding-left: 10px;
}
#mainList ul li{
	float:left;
	width: 65px;
	height:25px;
	padding-top: 5px;
}

.title{
	width:210px;
	height:20px;
	background-color:rgba(54, 79, 118, 0.5);
}
.titledown{
	width:200px;
	margin:0 auto;
	
	
}
.titledown span{

	font-size:20px;
	font-weight:bold;
	
}
.titledown a{

	color:#258fb8;
	
}

#impression{
	background-color:white;
	width: 140px;
	height:140px;
	margin: 10px 30px 0 30px;
}
#impression img{
	position:relative;
	width:140px;
	height:140x;
	
	
}
#content{
	position: relative;
	height: 1000px;
}
#parameter{
	float:left;
	
	width:210px;
}
#declear{
	width:140px;

}
.obj_name{
	position:relative;
	background:#dddddd;
	box-shadow:1px 2px 3px #eee;
}
.obj_name ul,li{
	list-style-type:none;
	margin:0px;
	text-align:left;
}

#navigation{
	text-align:right;
	position:relative;
	margin:0 0 0 0;
	width:1024px;
	height:30px;
	background-color:#dddddd;
}  
#navi_sort{
	padding: 0;
	width: 70px;
	position:absolute;
	right:215px;
	text-align: left;
	cursor: pointer;
	z-index:1;
}
#navigation ul{
	padding-left: 0;
	margin: 0;
}
#navigation ul li h{
	display:block;
	text-decoration:none;
	color:white;
}

#navi_search{
	margin-top:5px;
	float:right;
}
#arti{
	float:left;
	width: 500px;
	margin-left: 100px;
	margin-bottom: 0px;
}
#arti textarea{
	background-color: white;
	margin-left: -0px;
	
}
#arti_submit{
	margin-left: 55px;
}
#arti_img{
	width: 115px;
    background-color:white;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-style: solid;

}
#con {
	/* background-color: rgba(0,0,0,0.5); */
	position:absolute;
	left:220px;
	width: 804px;
}

#login{
	position: absolute;
	right: 10px;
	padding: 5px;
	width: 80px;
	top:-10px;
	z-index:20;
}
#login_user{
	padding-left: 0px;
	margin: 10px;
}
#pages_ul {
	float:left;
	background:white;
	margin-left:30px;
	padding-left:200px;
	box-shadow:1px 2px 3px #ddd;
	width: 564px;
}
#arti_title{
	background-color:white;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-style: solid;
}
#pages_ul li{
	float: left;
}
#pages_ul li a:HOVER{
	background-color:rgba(0,0,0, 0.5);
	text-decoration: underline;
}
#pages_ul li a{
    padding-left: 4px;
	padding-right: 4px;
}

#Page_number{
	width: 140px;
	margin-right: 10px;
}
#album{
	cursor: pointer;
}
#toptag{
	overflow: hidden;
}
#img{
	position:absolute;
}
#obj_name a{
	text-align: left;
}
.arti_info{
	width: 810px;
	height:30px;
	background:#eee;
	position: relative;
	right:20px;
}
#continue{
	font-size: 14px;
}
.comment:hover{
	cursor: pointer;
}
.comment{
	margin-top:5px;
}
