form{	
	width: 300px;
	height: 200px;
	position:relative;
}
input{
	margin_top:0px;
	margin-top: 0px;
	padding: 0px;
	
}
#choselo{
	color: blue;
	cursor: pointer;
}
#chosere{
	cursor:  pointer;
	
}
#register{
	position: absolute;
	right: 10px;
	bottom: 0px;
}
#submit{
	position: absolute;
	right:60px;
	bottom: 0px;
}