<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Blog.persistence.music_dao_interface">
<!--<cache type="PERPETUAL" eviction="LRU" flushInterval="60000"
		size="512" readOnly="true" /> -->
	<sql id="music_columns"> title,createtime,author,src,comment,img,description </sql>
	
	<select id="getMusic"  resultType="Music"
		useCache="true">
		select * from music
	</select>

	<select id="genertateKey" resultType="int">
		select max(id) from music
	</select>
	
	<insert id="addMusic" parameterType="Music" useGeneratedKeys="true" keyProperty="id">
		insert into music(title,author,createtime,description,src,img) 
		values(#{title},#{author},#{createtime},#{description},#{src},#{img})
	</insert>
	
</mapper>
