<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Blog.persistence.news_dao_interface">
<!--<cache type="PERPETUAL" eviction="LRU" flushInterval="60000"
		size="512" readOnly="true" /> -->
	<sql id="news_columns"> title,img,time,content,author </sql>
	
	<select id="getTotalCount"  resultType="int"
		useCache="true">
		select count(1) from news
	</select>
	
	<select id="loadNews"  resultType="News">
		select <include refid="news_columns"></include> from news 
		<choose>
			<when test="_parameter!=null">
				limit #{_parameter},9
			</when>
			<otherwise>
				limit 0,8
			</otherwise>
		</choose>
	</select>
	
	<select id="searchNews" resultType="News">
		select <include refid="news_columns"></include> from where title like %#{_parameter}% or author = ${_parameter}
	</select>
	
	<insert id="addNews" parameterType="News">
		insert into news(<include refid="news_columns"></include>) values(#{title},#{img},#{time},#{content},#{author})
	</insert>
	
	
</mapper>
